<!-- 
<slick>
  <div ng-repeat="slider in sliders">
		<img ng-src="{{slider}}" alt="{{slider}}" class="img-responsive">
	</div>	
</slick> -->

<section class="qualityService">
	<div class="container">
		<h1 class="text-center">QUALITY & SERVICE</h1>
		<section class="caption text-center">
			<p class="">We value your support immensely. If you can't find an answer in my FAQ section,</p>
			<p class="">Email us directly. WE always there to make things right.</p>
			<p class="">No lip service, just greate service.</p>
		</section>
	</div>
</section>

<section class="ourWorkshop">
	<div class="container">
		<section class="caption col-md-offset-6 col-md-6 col-sm-offset-6 col-sm-6">
			<div class="caption-container">
				<h1 class="">OUR WORKSHOP</h1>
				<p class="">You can get this apparel and artwork at my workshop. Don't be shy to visit, come and enjoy with us!</p>
				<a ui-sref="commissionArtworks" class="btn btn-border">Check it now</a>
				<div class="clearfix"></div>
			</div>
		</section>
	</div>
</section>
<section class="shipping">
	<div class="container">
		<img ng-src="images/shipping.png" alt="shipping" class="img-responsive">
		<h1 class="text-center">SHIPPING SHOULDN'T SUCK</h1>
		<section class="caption text-center">
			<p class="">currently we send our products to singapore and indonesia</p>
			<p class="">but hey, if you interest just contact us to order</p>
			<p class="">and we will send it</p>
		</section>
	</div>
</section>

