
<div>
	<div class=" col-xs-6 col-sm-4 col-md-3 productThumbnail">
		<a href="#/Artworks/{{artworkItem.id}}" class="">
			<img ng-src="{{artworkItem.imgUrl}}" alt="{{artworkItem.name}}" class="img-responsive">
			</a>
			<div class="caption">
				<p class="title text-center">{{artworkItem.name}}</p>
				<p class="text-center">{{artworkItem.priceTotal}} {{artworkItem.curency}}</p>
				<!-- <button  class="btn btn-danger" ng-click="onRemove({id: artworkItem.id})"><span class="glyphicon glyphicon-remove"></span></button> -->
			</div>
		
	</div>
</div>