<div class="footer-container" ng-controller="contactCtrl">
	<div class="container">
		<!-- <div class="col-md-2">
			<a ui-sref="home"><img ng-src="images/papaya.png" alt="papayastreet.art" class="footer-logo img-responsive"></a>
		</div> -->
		<div class="col-sm-3">
			<ul class="footer-menu">
				<li class="footer-title title capitalize">menu</li>
				<li ui-sref-active="active"><a ui-sref="home" class="capitalize">home</a></li>
				<li ui-sref-active="active"><a ui-sref="apparel" class="capitalize">apparel</a></li>
				<li ui-sref-active="active"><a ui-sref="artworks" class="capitalize">artworks</a></li>
				<li ui-sref-active="active"><a ui-sref="commissionArtworks" class="capitalize">commissions artwork</a></li>
				<li ui-sref-active="active"><a ui-sref="contact" class="capitalize">contact</a></li>
			</ul>
		</div>
		<div class="col-sm-3">
			<ul class="footer-contact">
				<li class="footer-title title capitalize">contact</li>
				<li ng-repeat="contact in contacts">
					<span class="fa fa-user"><a href="">{{contact.email}}</a></span>
					<span class="fa fa-user"><a href="">{{contact.phone}}</a></span>
				</li>
				
			</ul>
		</div>
		<div class="col-sm-3">
			<li class="footer-title title capitalize">Social-media</li>
			<section class="social-media ">
				<a href="#" class="btn btn-social social-twitter"><span class="fa fa-twitter"></span></a>
				<a href="#" class="btn btn-social social-facebook"><span class="fa fa-facebook"></span></a>
			</section>
		</div>
	</div>
</div>